.venv
.env
.idea
__pycache__
output
jobs/input/*
jobs/slices/*
jobs/upscale/*
jobs/dreamstime/*
jobs/upload/*
jobs/publishing-logs/*
jobs/metadata/*
jobs/_slices/*
jobs/_upscale/*
jobs/_dreamstime/*
jobs/tmp/*
watch/*
.coverage
